*{margin: 0;}
body{font-family: system-ui, system-ui, sans-serif;
    display: block;}
    
.borde{
    width: 450px;
    height: fit-content;

}

.bg-img{ 
    width: 400px;
    height: fit-content;
    position: relative;
    opacity: default;
    background-size: cover;
    background-repeat: no-repeat;
}


.img-recorte{
    width: 100%;
    height: 600px;
    object-fit:cover;

}