/*Global*/
*{
	font-family: "OpenSans-Light" Helvetica;
}

@font-face{
	font-family: OpenSans-Regular;
	src: url(../fonts/Open/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSans-Light;
	src: url(../fonts/Open/OpenSans-Light.ttf);
}
@font-face{
	font-family: OpenSans-Bold;
	src: url(../fonts/Open/OpenSans-Bold.ttf);
}

/* Shortcuts */
.border{
	border: white 2px solid;
}

.pd-0 {
	padding: 0;
}
.pt-5 {
	padding-top: 5%;
}
.pt-10 {
	padding-top: 10%;
}
.pb-5{
	padding-bottom: 5%;
}
.pd-5 {
	padding: 2%;
}
.pd-5-10{
	padding: 5% 10%;
}
.mg-5{
	margin: 5px;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-bold{
	font-weight: bold;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-white{
	color: white;
}
.text-gray{
	color: rgb(83, 88, 95);
}
.text-blue{
 color: #192951;
}
.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: #d6d2d2;
}
.bg-green{
	background-color: #5E8039;
}
.bg-black{
	background-size: cover;
	background-color: #4D4D4D;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
}
.text-gray{
	color:#58575a;
}
.text-black{
	color: #4D4D4D;
}
.text-green{
	color: #5E8039;
}
.text-white{
	color:#fff;
}
.text-yellow{
	color: #fac60e;
}
.bg-img-block{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}